.calendarTitle {
  color: #fff9ec;
  font-size: 32px;
  font-style: normal;
  font-weight: 200;
  line-height: 29px;
  height: 65px;
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 14px;
}

.calendarTitleContainer {
  border-bottom: 1px solid #fff9ec;
}

.month {
  color: #ffcb3e;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin-top: 14px;
  margin-bottom: 14px;
}

.calendarContainer {
  width: 370px;
  height: 526px;
  background-color: #353535;
  border-radius: 10px 10px 0px 0px;
}

.dayContainer {
  display: flex;

  height: 378px;
  width: 344px;
  border: 1px solid #fff9ec;
  border-top: 10px solid #fff9ec;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.calendarContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  border: 1px solid #fff9ec;
}

tr {
  border: 1px solid #fff9ec;
  width: 50px;
  height: 63px;
}
