.characterCard {
  width: 370px;
  height: 479px;
  background-color: #292e37;
}

.characterLevelBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
}

.levelNumber {
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  margin: 18px 0 18px 0;
}

.characterLevel {
  display: flex;
  flex-direction: row;
  padding: 0 10px 0 10px;
  justify-content: space-between;
}

.levelGoalTitle {
  color: #e8e8e8;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin: 18px 0 0 0;
}

.levelGoalText {
  color: #e8e8e8;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 0 0 0 22px;
}

.levelBar {
  width: 281px;
  height: 18px;
  flex-shrink: 0;
}
