@import url('https://fonts.googleapis.com/css2?family=Teachers:wght@400;500;600;700&display=swap');

/* Add any global styles below */
h4 {
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
}

p {
  font-size: 20px;
  font-style: normal;
  font-weight: 650;
  line-height: normal;
  margin-top: 30px;
  margin-bottom: 12px;
}

html {
  font-family: 'Teachers', sans-serif;
  background-color: #191b21;
  color: #e8e8e8;
}

body {
  margin: 0;
  padding: 0;
}

input {
  color: #ffcb3e;
  background: none;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
}
