@import url('https://fonts.googleapis.com/css2?family=Teachers:wght@400;500;600;700&display=swap');

/* Add any global styles below */
h4 {
  font-family: 'Teachers', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

p {
  font-family: 'Teachers', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

html {
  background-color: #191b21;
  color: #e8e8e8;
}
