.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
}

.textContainer {
    text-align: center;
    margin: 2rem 0;
}

.title {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 2rem;
    color: #fff;
}

.subtitle {
    font-size: 32px;
    color: #d3d3d3;
    line-height: 1.1;
}

.subtitle2 {
    font-size: 30px;
    color: #d3d3d3;
    line-height: 1.1;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: auto;
}

.blueButtons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.otherButtons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;
}
