.navigationBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 402px;
  height: 84px;
  padding: 15px 37px 25px 37px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.pageName,
.pageName2,
.pageName3 {
  font-size: 14px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  text-align: center;
  color: #e8e8e8;
  margin: 0;
}

.navigationBarSleep {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.navigationBarAchievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.navigationBarProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
