.pageButton {
  flex-shrink: 0;
  width: 370px;
  height: 69px;
  font-size: 20px;
  background-color: #292e37;
  color: #fff9ec;
  font-family: Teachers;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  padding: 19px 0 19px 13px;
  border: 0;
  text-align: left;
  display: inline-flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  /* button shadow */
  box-shadow: 1px 1px 3.1px 0px #ffcb3e;
}

.buttonContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 13px;
}

.arrowIcon {
  flex-shrink: 0;
}

.pageButton span {
  text-align: left;
}
