.pageButton {
  flex-shrink: 0;
  width: 300px;
  height: 69px;
  font-size: 20px;
  background-color: #292e37;
  color: #fff9ec;
  font-family: Teachers;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  cursor: pointer;

  /* button shadow */
  box-shadow: 1px 1px 3.1px 0px #ffcb3e;
}

.pageButton span {
  text-align: left;
}
