.pageButton {
  width: 370px;
  height: 69px;
  font-size: 20px;
  background-color: Night - 3rd Neutral (Button);
  color: Night - Secondary 02;

  /* button shadow */
  box-shadow: 1px 1px 3.1px 0px #ffcb3e;
}
