.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: #191b21;
    padding: 4rem;
    border-radius: 30px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.title {
    color: #ffcb3e;
    font-size: 24px;
    margin-bottom: 1rem;
}

.message {
    color: #ffcb3e;
    margin-bottom: 2rem;
    line-height: 1.5;
}

.buttonContainer {
    display: flex;
    gap: 1rem;
    justify-content: center;
}
